/* 화면의 중앙 정렬을 위한 body 스타일 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* 선택 사항: 배경색 설정 */
}

/* 콘텐츠를 감싸는 요소에 대한 스타일 */
.content-wrapper {
    width: 430px;
    height: 932px;
    position: relative;
    background: white;
}

/* 버튼 컨테이너 스타일 */
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* 버튼 간의 간격 */
    position: absolute;
    bottom: 20px;
    width: 100%; 
    padding: 0 20px; /* 양쪽에 20px 여백 추가 */
    box-sizing: border-box; /* padding이 width에 포함되도록 설정 */
}

/* 버튼 스타일 */
.square-button {
    aspect-ratio: 1;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}

/* 버튼 호버 효과 */
.square-button:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
